.abdi{
    display: flex;
    justify-content: space-between;
}
.lll{
    background: #99ecf1;
    margin-left: 19px;
    color: rgb(34, 28, 28);
    border: 5px solid rgb(26, 19, 19);
    border-radius: 10px;
}
.k{
    background: #e61069;
    margin-left: 10px;
    color: rgb(245, 234, 234);
    border:5px solid black;
    border-radius: 10px;
}