
.ali{
    justify-content: space-between;
    display: flex;
    background: #0b0b0c;
    text-decoration: rgb(221, 10, 38);
    border-color: rgb(68, 73, 73);
    color: rgb(69, 238, 224);
    border-style: solid;
    backgr
}ound-origin: padding-box;
    margin: 1px;
    

}
.abdi{
    color: aqua;
    background-color: rgb(22, 21, 21);
    border-radius: 20px;
    padding: 10px;
    border-style: solid;
    border-color: rgb(81, 169, 241);
    margin: 1px;
    margin-left: 250px;
    width: 60%;
    display: flex;
    height:30%;
    padding: 20px
    

;

}
.kkk{
    color: rgb(92, 250, 237);
    background-color: azure;
    background: rgb(109, 3, 74);
    border-radius: 20px;
    border-style: solid;
    border-color: fuchsia;
}
#farah{
    display: flex;
    justify-content: space-between;
    margin: 10px;
    padding: 10px;
     background: 2px solid black;
     
}
.y{
    background-color: rgb(10, 10, 10);
    border: 2px solid rgb(82, 208, 247);
    border-radius: 10px;
    color: rgb(87, 252, 252);
    height: 250px;
    width: 300px;

}
.img{
    width: 150px;
    height: 100px;
    padding: 1px;
    border-radius:15%;


}
.w{
    width: 150px;
    height: 100px;
    padding: 1px;
    border-radius: 15%;
}
.img3{
    width: 300px;
    height: 160px;
    border-radius: 2px;
    
}
.a{
    background: #3a2104;
    border: rgb(7, 7, 7) solid ;
    border-radius: 10px;
    color: rgb(57, 231, 243);
    margin: 10px;
    margin-right: 700px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    width: 800px;
    height: 100px;
}

.z{
    background: #000;
    color: aqua;
    border-radius: 10px;
    border: rgb(68, 223, 250) solid;
    padding:20px ;
    margin-right: 800px;
    
    
}
.g a{ 
    color: rgb(11, 12, 12);
    border: aqua;
    font-size: x-large;
    text-decoration: solid;
    text-transform: capitalize;
}
.g{
    padding-top: 150px;
    margin-right: 10px;
    justify-content: space-between;
}
.ali g{
    color: aliceblue;
}
.u{
    color: aqua;
    background-color: #000;
    padding: 10px;
    margin: 5px;
}
.p{
    width: 420px;
    margin-left: 100px;
    border-radius: 5px;
    
   
}
.d{
    width: 40%;
}
.r{
    background: #110e0e;
    color: #52f3e6;
    text-align: center;
    border-radius: 10px;
    padding: 5px;
}
.q{
 
}

.v{
    background: #000;
    color: aqua;
}
.e{
    background: #000;
    border: #4efce5 solid;
    border-radius: 10px;
    color: aqua;
    display: flex;
    justify-content: space-between;
    
}
.s a{
    background: aqua;
}
.s {
    background: #101111;
}
.m{
    width: 30%;
    height: 150px;
    border-radius: 50%;
    margin-left: 400px;
    padding-top: 20px;
    padding: 10px;
    justify-content: flex-end;
    float: left;

}
.yu{
    margin-right: 200px;
    float: top;
    float: left;
}
.b{
    display: flex;
    justify-content: space-between;

}
.ss{
    grid: 1/4;
    background: #230f96;
}
