.a{
    display: flex;
    background: #1472dd;
    justify-content: space-between;
    margin-top: 20px;
    background-image: url(/image\ copy\ 3.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 1000px;
}
.b{
    margin-top: 20px;
    background-image: ;
}